
*{
    box-sizing: border-box;
}

body {
    font-family: "PT Sans Caption", sans-serif;
}


section{
    min-height: 100vh;
    background-color: #c18941;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #4e4741;
    isolation: isolate;
}

h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 10px;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;
}

h1:hover::before{
    height: 50%;
}


.bodyBook{
    border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: #352e28;
}

.bodyBook h2 {
    font-family: "Righteous", cursive;
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.btn-submit {
    --bs-btn-color: #fff;
    --bs-btn-bg: #d1512d;
    --bs-btn-border-color: #d1512d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb4120;
    --bs-btn-hover-border-color: #a03315;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #d99c39;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fec26055;
}


.btn-visit{
    background-color: #9eb23b;
    color: white;
}

.btn-visit:hover{
    border-color: #6e8018;
    background-color: #8a9e23;
    color: white;
}

.btn-delete{
    background-color: #eb1d36;
    color: white;
}

.btn-delete:hover{
    border-color: #ba081d;
    background-color: #d30820;
    color: white;
}


/* ======================================== */


#lightBoxContainer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

#lightBox{
    position: fixed;
    top: 40%;
    left: 35%;
    width: 500px;
    z-index: 10;
}

#lightBox p {
    font-family: "Bree Serif", serif;
    font-size: 21px;
    line-height: 1.3;
    color: #352e28;
}

#lightBox i {
    cursor: pointer;
}

.circles span:nth-child(1) {
    background-color: #f15f5d;
}
.circles span:nth-child(2) {
    background-color: #febe2e;
}
.circles span:nth-child(3) {
    background-color: #4db748;
}

.circles span {
    display: block;
    width: 20px;
    height: 20px;
}

.rules i {
    color: #bb4120;
}

.rules li {
    font-size: 18px;
    padding-top: 10px;
}


